.profilePic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.profile-picture {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.bio {
    white-space: pre-wrap;
}

.profilePic>input {
    display: none;
}

.camera-btn {
    padding-block-start: 85px;
}

.profile-picture:hover{
    transition: all 0.3s ease-in-out;
    opacity: 50%;
    cursor: pointer;
}

.caseprofil {
    background-color: 
    #1a1a1a
    ;
}.buttondelete{
    background-color:none;
    color:red;

}
.buttondelete:hover{
    background-color: red;
    color:white;
}
.bouttonedit{
    background-color:none;
    color:gold;

}
.bouttonedit:hover{
    background-color: gold;
    color:black;
}